<!DOCTYPE html>

<html>



<head>

  <title>Interface Figma vueJS</title>

  <script src="vue.js"></script>
  
  <link rel="stylesheet" href="FirstDayFirstWeek.css" />
  
</head>


  
  
  
<body>

    <header >
      
          <img src="opensi.png" alt="OpenSI" >
          
    </header>


  <div id="app">
    {{ message }}
  </div>

  <script>
    var app = new Vue({
      el: '#app',
      data: {
        message: ' '
      }
    })
  </script>
  
  <div class="d"> <p style="color:orange; position:center;"> </br> <span class="e" > Authentication </span> </p>  
      </br></br></br></br>
    <p>Username</p>
    
        <div id="app-6" style="position:center;">
          <p>{{ message }}</p>
          <input v-model="message">
        </div>
        <script>
          var app6 = new Vue({
            el: '#app-6',
            data: 
            {
              message: ' '
            }
          })
        </script>
    
    
    <p>Password</p>
          <div id="app-7" style="position:center;">
            <p>{{ message }}</p>
              <input v-model="message">
          </div>
          <script>
            var app7 = new Vue({
              el: '#app-7',
              data: 
              {
                message: ' '
              }
            })
          </script>
  
  <span style="color:grey;"> Remenber me </span> </br></br>
  
  <div class="g">  <span style="color:white;"> Login </span>  </div>
  <span style="color:grey;"> Need an account ? </span> <span style="color:orange;"> Sign Up </span> </br></br>
  
  
  </div> 
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
</body>



</html>